@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

a {
    text-decoration: none;
    color:rgb(20, 87, 113)
}

a:hover {
    color: rgb(128, 0, 0)
}

.header-links {
    bottom: 0;
    position: relative;
}

nav {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(120, 189, 249);
    border-bottom: 5px solid rgb(255, 139, 113);
    padding: 20px;
    width: 100%;
}

.stars {
    font-weight: normal;
    color: rgb(127, 117, 0)
}

.food-name {
    color:rgb(12, 55, 73)
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
}

.food-selection {
    display: grid;
    grid-template-columns: repeat(3, auto) 0.5fr;
    grid-template-rows: repeat(4, auto);
    column-gap : 100px;
    row-gap: 20px;
    width: 600px;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
}

.text{
    padding: 0px;
}


.food-selection h3 {
    margin: 0px, 0px, 10px, 0px;
}

main {
    margin: 30px;
    position: relative;
    font-family: 'Roboto';
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

img {
    height:200px;
}

th {
    font-weight: bold;
    background-color:  rgba(120, 189, 249, 0.454);
}

tbody > tr:nth-child(even) {
    background-color:rgba(66, 145, 66, 0.346);
}

footer {
    position: relative;
    position: fixed;
    bottom: 0;
    padding-top: 20px;
    width: 100%;
    background-color:rgb(120, 249, 131);
    color:rgb(24, 66, 111);
    font-size: 15px;
    font-style: italic;
}
